<p id="notice"><%= notice %></p>

<p>
  <b>Customerdesc:</b>
  <%= @customer_demographic.CustomerDesc %>
</p>


<%= link_to 'Edit', edit_customer_demographic_path(@customer_demographic) %> |
<%= link_to 'Back', customer_demographics_path %>
